<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap3.css}"/>
    <link rel="stylesheet" th:href="@{/css/coffee.css}"/>
    <title>Main</title>
</head>
<body>

Hello

<div >
    <input type="text" id="name"><br>
    <input type="text" id="text"><br>
    <input type="submit" onclick="update()" value="send" id="send"><br>
</div>

<div class="text">

</div>

<div class="cell">fgdfg</div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>
<div class="cell"></div>

</body>
<script>


    let socket;
    let url;
    let text=document.querySelector(".text");
    let inputText=document.getElementById("text");
    let inputName=document.getElementById("name");


    function dataReturned(data) {
        let message=JSON.parse(data);
        text.innerHTML=`${text.innerHTML} <div class="name">${message.name}</div>
                    <div>${message.text}<div>`;
        let element = document.querySelector(".cell");
        element.classList ? element.classList.add(message.name) : element.className += message.name;
        return text.innerHTML;
    }

    function sendDate(data) {
        socket.send(data);
    }
    function Message(name,text) {
        this.name=name;
        this.text=text;
    }

    function update(){
        // let toSend=JSON.stringify([inputName.value,inputText.value]);
        let toSend=JSON.stringify(new Message(inputName.value,inputText.value));
        // alert(toSend);
        // alert(socket.readyState);
        sendDate(toSend);
    }

    window.onload=()=>{
        url=`ws://${window.location.host}/chat`;
        alert(url);
        socket=new WebSocket(url);
        socket.onopen=()=>{
            alert("connected");

        };
        socket.onmessage=(e)=>{
            dataReturned(e.data);
            // alert(e.data);
        }
    }
    </script>
</body>
</html>