<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    Тестирование онлайн
    Определение
    Равенство, содержащее одну переменную, называется уравнением с одной переменной.

    Переменную в уравнении называют неизвестным.

    Значение переменной, при которой уравнение превращается в верное числовое равенство, называется корнем (или решением) уравнения. Решить уравнение - это значит найти все его корни или доказать, что их нет.


    Равносильные уравнения
    Два уравнения называются равносильными (или эквивалентными), если они имеют одни и те же корни на данном числовом множестве.

    Если оба уравнения не имеют решений, то они также считаются равносильными на данном числовом множестве.

    Действия с уравнениями
    1)Любое слагаемое можно перенести из одной части уравнения в другую с противоположным знаком.


    2) К обеим частям уравнения можно прибавить или отнять одно и то же число (или функцию).


    3) Можно умножить или разделить обе части уравнения на одно и то же число, кроме нуля, или функцию.


    Функция, которую прибавляем (отнимаем) или на которую умножаем (делим) обе части уравнения должна иметь смысл при всех допустимых значениях переменного.
</p>
</body>
</html>