<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap3.css}"/>
    <link rel="stylesheet" th:href="@{/css/coffee.css}"/>
    <title th:text="#{main}"></title>
</head>
<body>


<div class="container-fluid">




    <div class="row head ">
        <div class="col-lg-2">
            <img src="https://static.tildacdn.com/tild6239-6363-4632-a132-383030356534/logo110.png" class="logo " imgfield="img" alt="ПЕРСПЕКТИВА.кофе">
        </div>
        <div class="col-lg-8 margin">
            <ul class=" nav nav-pills nav-justified ">

                <li class="active" id="main"><a th:text="#{main}"  href=""></a></li>
                <li><a href="makeOrder" th:text="#{makeOrder}"></a></li>
                <li><a href="#" id="reg" th:text="#{toRegister}" ></a></li>
                <li><a href="#" id="login" th:text="#{login}" ></a></li>
                <li><a href="/oauth2/authorization/github" id="/oauth2/authorization/github" th:text="github" ></a></li>
                <li><a href="/oauth2/authorization/vk"  th:text="vk" ></a></li>
                <li><a href="/oauth2/authorization/facebook"  th:text="facebook" ></a></li>
                <li><a href="/oauth2/authorization/instagram"  th:text="instagram" ></a></li>
                <li><a href="logout" th:text="#{logout}" ></a></li>
                <li ><div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" th:text="#{language}" data-toggle="dropdown"> <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="main?language=en_US">EN</a> </li>

                        <li><a href="main?language=ru_RU">RU</a></li>


                    </ul>
                </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-2 margintext">
            <p class="text-center" th:text="#{welcome}">  <p id="user"  ></p></p>
        </div>

    </div><!-- /.row -->
    <div class="row content">
        <div class="col-lg-2">
            <p class="text-center message"></p>
        </div>
        <div class="col-lg-8"  >
            <div id="formContainer">

                 <form action="main" id="form"  class="form-group form col-lg-4 col-lg-offset-4" method="post" th:object="${userReg}"  >
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><p th:text="#{labelName}"></span>
                        <input th:field="*{username}" type="text" id="name" th:placeholder="#{labelName}"  class="form-control " /><br>
                        <p th:if="${#fields.hasErrors('username')}" style="color:red" th:errors="*{username}">Name Error</p>

                    </div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><p th:text="#{labelPass}"></span>
                        <input  th:field="*{password}" name="password" id="password" class="form-control pass "  th:placeholder="#{labelPass}" />
                        <p th:if="${#fields.hasErrors('password')}" style="color:red" th:errors="*{password}">Name Error</p>
                    </div><br>

<!--                     <div class="input-group input-group-lg">-->
<!--                         <span class="input-group-addon"><p th:text="#{labelPass}"></span>-->
<!--                         <input type="file" class="form-control pass" name="myimage" size=50 placeholder="image">-->
<!--                     </div><br>-->

<!--                     <div class="input-group input-group-lg">-->
<!--                         <span class="input-group-addon"><p th:text="#{labelPass}"></span>-->
<!--                         <input type="text" class="form-control pass" name="desc" size=50 placeholder="desc">-->
<!--                     </div><br>-->

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><p th:text="#{labelLogin}"></span>
                        <button id="but" type="submit" class="form-control btn btn-primary " th:placeholder="#{labelLogin}"><p th:text="#{labelLogin}"></button>

                    </div>



                </form>
            </div>
            <div class="offsetdown">
                <p class="text-primary text-center">
                <p th:text="#{firstDescribe}"><br>
                <p th:text="#{secondDescribe}">
                </p>
            </div>

        </div>

        <div class="col-lg-2">
            <p class="text-center message"></p>
        </div>
    </div>

    <div class="row foot">
        <div class="col-lg-2" style="padding-top:20px">
            <p class="text-white">
            <p th:text="#{about}"> <br>
            <p th:text="#{adress}">
            </p>
        </div>

        <div class="col-lg-2 col-lg-offset-3" style="padding-top:20px">
            <p>
                zaharzim@yandex.by <br>
                +375295107806
            </p>
        </div>

        <div class="col-lg-2 col-lg-offset-3" style="padding-top:20px">
            <p>
            <p th:text="#{timeWork}"> <br>
            <p th:text="#{workHours}">
            </p>
        </div>
    </div>

    <div style="display:none">
        <p class="springMessage" th:text="#{personalArea}"></p>
        <p class="springMessage" th:text="#{login}"></p>
<!--        <p class="springMessage"><spring:message code="toRegister"></spring:message></p>-->
<!--        <p class="springMessage"><spring:message code="labelName"></spring:message></p>-->
<!--        <p class="springMessage"><spring:message code="labelPass"></spring:message></p>-->
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/formScript.js}"></script>



</body>
</html>